# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our new database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": {"$eq": 20}}
results = establishments.find(query)

# Use count_documents to display the number of documents in the result
estab_hygiene_20 = establishments.count_documents(query)

print(f'There are {estab_hygiene_20} establishments with a hygiene score of 20.')

In [ ]:
# Display the first document in the results using pprint

for i in range(1):
    pprint(results[i])

#_______________________________________
# Alternate ways to solve

# pprint(results[0])

# pprint([x for x in results][0])

In [ ]:
# Convert the result to a Pandas DataFrame
query = {"scores.Hygiene": {"$eq": 20}}
results = establishments.find(query)
results_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
rows = len(results_df)
print(f'There are {rows} rows in the "results_df" dataframe.')

In [ ]:
# Display the first 10 rows of the DataFrame
results_df.head(10)

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
establishments.update_many({}, [ {'$set':{ "RatingValue" : {'$toDouble': "$RatingValue"}}} ])

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'$match': {'LocalAuthorityName': {'$regex': "London"},
                          'RatingValue': {'$gte': 4}
              }}

results = establishments.count_documents(match_query)

In [ ]:
# Use count_documents to display the number of documents in the result

In [ ]:
# Display the first document in the results using pprint

In [28]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
# query = {'LocalAuthorityName': {'$regex':'London'}, 'RatingValue': {'$gte': 4}}
# query = {"RatingValue": {"$gte": 4}}
# query = {'LocalAuthorityName': {'$regex':'London'}}
# match_query = {'$match': {'LocalAuthorityName': {'$regex': "London"}}}

match_query = {'$match': {'LocalAuthorityName': {'$regex': "London"},
                          'RatingValue': {'$gte': 4}
              }}

# Write an aggregation query that counts the number of documents and finds the maximum height,
# grouped by "classification"
# group_query = {'$group': {'_id': "$LocalAuthorityName", 
#                           'count': { '$sum': 1 },
#                           'max_height': { '$max': '$measurements.elementMeasurements.Height' }}}



# query = {'LocalAuthorityName': {'$regex':'London'},
#          'RatingValue': {'$gte': 4}}
results = establishments.find(match_query)

# Use count_documents to display the number of documents in the result
# results = establishments.find(query)

In [ ]:
# Display the first document in the results using pprint

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [54]:
establishments.update_many({}, [ {'$set':{ "longitude" : {'$toDouble': "$longitude"}}} ])

In [73]:
query = {"RatingValue": {"$gte": 0}}
count = establishments.count_documents(query)
count

36

In [74]:
query = {"geocode.latitude": {"$gte": 0}}
count = establishments.count_documents(query)
count

0

In [55]:
# Create a query that finds customers who spent less than $500 and had more than 20 visits in 2021
degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

# query = {'geocode.longitude': {'$gte': (longitude-degree_search), '$lte': (longitude+degree_search)},
#          'geocode.latitude': {'$gte': (latitude-degree_search), '$lte': (latitude+degree_search)}}

query = {'geocode.longitude': {'$gte': longitude-degree_search, '$lte': longitude+degree_search}}

# Remove the 'Address' and 'Email' fields from the results
# fields = {'Address': 0, 'Email': 0}

# sort in ascending order by '2021_Visits', '2021_Total_Spend'
# sort = [('scores.Hygiene', 1)]

# limit the results to the first 8


# Pretty print the results
# pprint(list(establishments.find(query).sort(sort)))

In [56]:
query = {'longitude': {'$gte': longitude-degree_search, '$lte': longitude+degree_search}}
# query = {"scores.Hygiene": {"$eq": 20}}
results = establishments.count_documents(query)

results

0

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = 
sort =  

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [36]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': {'$eq': 0}}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': { '$sum': 1 }}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': 1 }}

pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print("Number of establishments in result: ", len(results))

Number of countries in result:  55

In [37]:
# Print the first 10 results
pprint(results[0:10])

[{'_id': 'Reading', 'count': 1},
 {'_id': 'Kensington and Chelsea', 'count': 1},
 {'_id': 'Sunderland', 'count': 1},
 {'_id': 'Broxbourne', 'count': 1},
 {'_id': 'Dorset', 'count': 1},
 {'_id': 'North Norfolk', 'count': 1},
 {'_id': 'Mid Sussex', 'count': 5},
 {'_id': 'North Hertfordshire', 'count': 6},
 {'_id': 'Tower Hamlets', 'count': 9},
 {'_id': 'Ipswich', 'count': 21}]

In [38]:
# Convert the result to a Pandas DataFrame
results_df = pd.DataFrame(results)

In [39]:
# Display the number of rows in the DataFrame
rows = len(results_df)
print(f'There are {rows} rows in the "results_df" dataframe.')

There are 55 rows in the "results_df" dataframe.

In [40]:
# Display the first 10 rows of the DataFrame
results_df.head(10)

                      _id  count
0                 Reading      1
1  Kensington and Chelsea      1
2              Sunderland      1
3              Broxbourne      1
4                  Dorset      1
5           North Norfolk      1
6              Mid Sussex      5
7     North Hertfordshire      6
8           Tower Hamlets      9
9                 Ipswich     21